In [1]:
# functtion

In [7]:
a = [4,5,5,6,6,5]

dir(a)

['__add__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [8]:
# print() , len(),type(), dir(),

In [9]:
def hello(n):
  return f"hello {n}"

In [11]:
message = hello("swagat")

In [12]:
message

'hello swagat'

In [13]:
def f(x):
  return x**2 + 2

In [16]:
f(7)

51

In [23]:
# two inputs and one output

def à¤¬à¥‡à¤°à¥€à¤œ(a,b):
  return a+b,a*b

In [24]:
à¤¬à¥‡à¤°à¥€à¤œ(7,3)

(10, 21)

In [25]:
# age > 50 ---> 80%
# age < 50 ---> 20%

#name,age ----> f(x) ----> name will tell the discount

In [26]:
def discount(name,age):
  if age > 50 :
    print(f"{name} tumhala 80% discount aahe")
  else:
     print(f"{name} tumhala 20% discount aahe")

In [28]:
discount("Sagar",68)

Sagar tumhala 80% discount aahe

In [29]:
# order - --> name,veg? ---> f(x) ---> pneer or chicken?

In [30]:
# default parameter
def à¤–à¤¾à¤£à¥‡(name,veg = True):
  if veg :
    print(f" {name} tu paneer à¤–à¤¾à¤£à¥‡")
  else:
    print(f" {name} tu chicken biriyani")

In [34]:
à¤–à¤¾à¤£à¥‡("Amar",False) #veg = "Veg Pulav"

 Amar tu chicken biriyani

In [35]:
#use the idea of dafault parameter here
#Create a similar function for default "normal" and "sweet" food
#if name given ----> give sandwitch
#if name and asked for sweet ---> give jelebi

In [36]:
# take a minute , and we'll build it together


def food(name,sweet = False):
  if sweet:
    print(f"{name} tu jelebi khaðŸ¦")

  else:
    print(f"{name} tu sandwitch kha")

In [39]:
food("Sahil","Sandwich")

Sahil tu jelebi khaðŸ¦

In [40]:
# function

#fixed deposit
#6%

# 300000 two year on 6% interest ---> 337000

In [42]:
300000 * 1.06

318000.0

In [43]:
318000.0* 1.06

337080.0

In [44]:
#  amount,interest,n_year -----> f(x) -----> total amount

In [45]:
8/100

0.08

In [46]:
500000*0.08

40000.0

In [47]:
#amount ---> 500000
# interest ---> 8%
# years = 2
# what amount after 2 years?

In [56]:
amount = 500000
interest = 8
n_year = 2

In [54]:
#
amount = amount + (amount * (interest/100) )

In [55]:
amount

583200.0

In [62]:
amount = 500000
interest = 8
n_year = 10


for i in range(n_year):
  amount = amount + (amount * (interest/100) )

print(f" the total amount after {n_year}  is {amount}")

 the total amount after 10  is 1079462.4986363933

In [60]:
amount

583200.0